# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
yarn-error.log
netlify_access_token.json
.env.development
socialscraper-b61b6-firebase-adminsdk-l5787-91d8adaf2d.json
socialscraperdev-firebase-adminsdk-4j6p9-906e1bae46.json
downloads/
